<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_smile_job"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmileJobPortal"
        tools:targetApi="31" >
        <activity
            android:name=".AdminPanel.AdminContactedByHrCallActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SplashActivity"
            android:exported="false"
            android:theme="@style/Theme.SmileJobPortal" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Activity.AppliedJobDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPanel.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.HelpSupportActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPanel.AllUsersActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPanel.AdminUpdateJobActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPanel.AdminManageJobsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LatestJobsActivity"
            android:exported="false" />

        <service
            android:name=".Service.FirebaseMessagingServiceNotification"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".javaClass.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <activity
            android:name=".Activity.SearchResultsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPanel.CandidateListActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Navbar.ExploreActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Navbar.BookmarkActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Navbar.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Navbar.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminPanel.AdminAddJobDataActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SuccessActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SubmitDataToDatabase"
            android:exported="false" />
        <activity
            android:name=".Activity.DetailsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="AppLinkUrlError" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="jobdetails"
                    android:scheme="myapp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.IntroActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.MainActivity"
            android:exported="false" />
    </application>

</manifest>